body {
    margin: 0 10rem;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    background: url(city-bkg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
}

main {
    padding: 1rem;
    background: white;
    margin-top: 3rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

footer {
    background: white;
    border-radius: 0 0 1.5rem 1.5rem;
}

header h1 {
    font-size: 5rem;
    color: #CFFF70;
    text-shadow: 5px 5px #323E4F;
}

header p {
    font-size: 1.5rem;
    color: #CFFF70;
}

header div {
    display: flex;
    align-items: center;
}

header div div {
    display: block;
}

header div div h1 {
    margin: 0;
}

header div div p {
    margin: 0;
}

header div img {
    margin-right: 2.5rem;
    width: 25%;
    border-radius: 0.5rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

nav ul li {
    list-style-type: none;
    padding: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #FFB5B5;
    text-shadow: 1px 1px #FF6B97;
} 

nav ul li a:hover {
    color: #ffe0e0;
}

#about {
    display: flex;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#about img {
    width: 25%;
    margin-left: 1rem;
}

#assistant img {
    width: 50%;
}

#about h2 {
    margin: 0;
}

#about p {
    max-width: 50ch;
    margin: 1rem 0;
}

#experiences ul li{
    list-style-type: square;
}

footer {
    display: flex;
    justify-content: flex-end;
}

svg {
    width: 5%;
    margin: 0 1rem;
    color: #9848bd;
}

svg a {
    text-decoration: none;
}

svg a:hover {
    color:#ad81c1;
}

#library, #assistant, #social-media {
    display: flex;
}

#library img, #social-media img {
    margin-right: 1rem;
}

#social-media img {
    width: 50%;
}