body {
    margin: 0 10rem;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
}

header div {
    display: flex;
    align-items: center;
}

header div div {
    display: block;
}

header div div h1 {
    margin: 0;
}

header div div p {
    margin: 0;
}

header div img {
    margin-right: 2.5rem;
    width: 25%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

nav ul li {
    list-style-type: none;
    padding: 0 1rem;
}

#about {
    display: flex;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#about img {
    width: 25%;
    margin-left: 1rem;
}

#assistant img {
    width: 50%;
}

#about h2 {
    margin: 0;
}

#about p {
    max-width: 50ch;
}

#experiences ul li{
    list-style-type: square;
}

footer {
    display: flex;
    justify-content: flex-end;
}

svg {
    width: 5%;
    margin: 0 1rem;
}

#library, #assistant, #social-media {
    display: flex;
}

#library img, #social-media img {
    margin-right: 1rem;
}

#social-media img {
    width: 50%;
}